<div style="background-color: red;">
    <ion-content [fullscreen]="true" scrollY="false" scrollX="false" scrollEvents="false">
        <div class="login" *ngIf="page === 1">
            <div class="brand-Container">
                <!-- <img src="../assets/github.png" alt=""> -->
                <ion-icon name="logo-snapchat"></ion-icon>
            </div>
            <form (ngSubmit)="onSubmitLogin(f)" #f="ngForm">
                <div class="form-group">
                    <ion-item>
                        <ion-label position="floating ">
                            Email
                        </ion-label>
                        <ion-input type="email " class="form-control" name="email" email ngModel required #email="ngModel"></ion-input>
                    </ion-item>
                    <span class="warning" [style.visibility]="(!email.valid && email.touched)||emailIncorrect ? 'visible' :'hidden'"> Please enter a valid email</span>
                    <ion-item>
                        <ion-label position="floating ">
                            Password
                        </ion-label>
                        <ion-input type="password" class="form-control" name="password" #password="ngModel" ngModel minlength='6' required></ion-input>
                    </ion-item>
                    <span class="warning" [style.visibility]="(!password.valid && password.touched) || passwordIncorrect ? 'visible' : 'hidden'"> Incorrct password</span>

                    <ion-button type="submit " [disabled]="!f.valid"> Log in</ion-button>

                    <p>Don't have an account? <a (click)="navigateSignUp()">Sign Up</a> </p>
                </div>
            </form>
        </div>
        <div *ngIf=" page===2 " class="signUp">
            <div class="headerSingup">
                <h1>Join Our Community Now!</h1>
            </div>
            <form (ngSubmit)="onSubmitSignUp(tf)" #tf="ngForm">
                <div class="signUpForm form-group">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label position="floating ">
                                        First Name
                                    </ion-label>
                                    <ion-input type="text" class="form-control" name="fname" minlength='2' #fname="ngModel" ngModel minlength='2' required></ion-input>
                                </ion-item>
                                <span class="warning" [style.visibility]="!fname.valid &&fname.touched ? 'visible':'hidden'"> First Name is not valid  </span>
                            </ion-col>
                            <ion-col>
                                <ion-item>
                                    <ion-label position="floating ">
                                        Last Name
                                    </ion-label>
                                    <ion-input type="text " class="form-control" name="lname" #lname="ngModel" ngModel minlength='2' required></ion-input>
                                </ion-item>
                                <span class="warning" [style.visibility]="!lname.valid &&lname.touched ? 'visible':'hidden'"> Last Name is not valid </span>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label position="floating ">
                                        Email
                                    </ion-label>
                                    <ion-input type="email " class="form-control" name="email" email ngModel required #email="ngModel"></ion-input>
                                </ion-item>
                                <span class="warning" [style.visibility]="(!email.valid && email.touched)||emailFound ? 'visible' :'hidden'"> Please enter a valid email</span>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-item>
                                <ion-label position="floating ">
                                    Password
                                </ion-label>
                                <ion-input type="password" class="form-control" name="password" #password="ngModel" ngModel minlength='6' required></ion-input>
                            </ion-item>
                            <span class="warning" [style.visibility]="(!password.valid && password.touched) ? 'visible' : 'hidden'">Invalid Password</span>
                        </ion-row>
                        <ion-row>
                            <ion-item>
                                <ion-label position="floating ">
                                    re-type Password
                                </ion-label>
                                <ion-input type="password" class="form-control" name="RePassword" #RePassword="ngModel" ngModel minlength='6' required></ion-input>
                            </ion-item>
                            <span class="warning" [style.visibility]="wrongPasswords || wrongPasswords">Passwords doesn't match!</span>
                        </ion-row>
                        <ion-row>
                            <ion-button style="display: block;" type="submit " [disabled]="!tf.valid"> Sign Up</ion-button>
                            <p>Already have an account? <a (click)="navigateLogin()">Log In</a> </p>
                        </ion-row>
                    </ion-grid>
                </div>
            </form>
        </div>
        <div class="login" *ngIf="page===3">
            <div class="dashboard">
                <span> Hello &nbsp;</span>{{localStorageFirstName}} &nbsp; {{localStorageLastName}}
                <div class="dashboard">
                    <ion-button color="warning" (click)="onClickLogOut()">Log Out</ion-button>
                </div>
            </div>
        </div>

    </ion-content>
</div>