* {
    color: white;
}

ion-content {
    --background: #fff url('../../assets/back.jpg') no-repeat center center/cover;
}

h1 {
    width: 70%;
    margin: 1vh 0px 4vh 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
    background-color: transparent;
    color: white;
    width: 100%;
}

ion-item {
    margin: 0px;
    background-color: transparent;
    height: 10vh;
    --background: transparent;
}

ion-button {
    margin: 3vh 0px;
    width: 75%;
}

#container {
    text-align: center;
    background-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #428CFF;
}

ion-input {
    margin-right: 0px !important;
    width: 100%;
}

.brand-Container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.brand-Container ion-icon {
    border-radius: 50%;
    width: 170px;
    height: 25vh;
}

.form-group {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 3vh;
}

.login {
    width: 70%;
    margin-left: 15%;
    align-items: center;
}

.warning {
    color: red;
    display: block;
}

.headerSingup {
    text-align: center;
    justify-content: center;
    padding-top: 2vh;
    margin: 2vh 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ion-row {
    justify-content: center;
}

ion-row ion-item {
    width: 100%;
}

.dashboard {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 40%;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    margin: 4vh 0px;
}

.dashboard ion-button {
    width: 30%;
}